* {
    overflow-x: hidden;
}

body {
    font-family: 'Montserrat', sans-serif !important;
    overflow: hidden;
}

.container-fluid {
    height: 100vh;
    background-image: url('./assets/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.location-timezone{
    font-size: 2rem;
}
.degree p {
    font-size: 82px;
    font-weight: 800;
    text-shadow: 2px 6px rgba(0, 0, 0, 0.5);
}
.degree p .units {
    font-weight: 300;
}
.temp-desc {
    font-size: 32px;
    text-shadow: 0px 4px rgba(0, 0, 0, 0.4);
}
.form-row {
    justify-content: center !important;
}
.card {
    background-color: rgba(0, 0, 0, 0.4) !important;
}
@media (max-width: 450px) {
    .degree p {
        font-size: 55px;
    }
}